.hero-list {
    @include flex_direction_rowgap(flex, column, 25px);
    padding-bottom: 135px;
    text-align: center;

    &__title {
        font-size: 30px;
        color: $header-text-color;
    }

    &__text {
        font-size: 18px;
        font-family: 'Roboto';
        color: $header-text-color;
    }
        
}