.partners {
    padding: 60px 0;

    &__list-item {
        @include flex_direction_rowgap(flex, column, 15px);
        text-align: center;
    }

    &__title {
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__list {
        @include flex_direction_rowgap(flex, column, 30px);
        padding-bottom: 30px;
    }

    &__list-title {
        font-size: 14px;
    }

    &__list-text {
        font-size: 14px;
        font-weight: 300;
    }

    &__btn {
        text-align: center;
    }
}