.promo {
    background-image: url("./../images/header_bgr.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .promo {
    background-image: url("./../images/header_bgr@2x.jpg");
  }
}